.header {
  background-color: #fef9a7;
  padding: 30px;
  text-align: center;
  color: #d61c4e;
}
button {
  background-color: #fac213;
  color: #d61c4e;
  border: none;
  border-radius: 5px;
}
#navbar {
  overflow: hidden;
  background-color: #f77e21;
}
#navbar a {
  float: left;
  display: block;
  color: #fef9a7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #d61c4e;
  color: black;
}
.content {
  padding: 16px;
}
footer {
  background-color: #fef9a7;
  color: #d61c4e;
  text-align: center;
  padding: 10px;
}
